.navbar{

    background-color: #0000cc;

}

.pcoded-navbar .header-logo{


    background-color: #0000cc;
}

.table .thead-dark th {
    color: #fff;
    background-color: #4D636B;
    border-color: #4D636B;
    height: 30px;
    line-height: 30px;
}

a.btn:hover {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
}
a.btn {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.dropdown-menu.show {
    display: block;
}


.dropdown-menu > li {
    padding-left: 15px;
    padding-right: 15px;
}

.btn > i {
    margin-right: 3px;
}

.table td, .table th {
    border-top: 1px solid #eaeaea;
    white-space: nowrap;
    padding: 1px 5px 0px 5px;
    vertical-align: middle;
    margin: 0!important;
}