.navbar{

    background-color: #0000cc;

}

.pcoded-navbar .header-logo{

    background-color: #0000cc;
}

.table .thead-dark th {
    color: #fff;
    background-color: #4D636B;
    border-color: #4D636B;
    height: 30px;
    line-height: 30px;
}

a.btn:hover {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
}
a.btn {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.dropdown-menu.show {
    display: block;
}


.dropdown-menu > li {
    padding-left: 15px;
    padding-right: 15px;
}

.btn > i {
    margin-right: 3px;
}

.table td, .table th {
    border-top: 1px solid #eaeaea;
    white-space: nowrap;
    padding: 1px 2px 0px 4px;
    vertical-align: middle;
    margin: 0!important;
}


.separator {
    clear: both;
    margin: 20px -15px 20px -15px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
}

.white-font {
    color: #ffffff!important;
}

.purple-bg {
    background: #6f42c1;
}

.btn{

    border-radius: 0.25rem;
    font-size: 10px;
    margin-bottom: 3px;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
.required {
    color: #dc3545;
    font-size: 15px;
    font-weight: bold;
}

.help-block {
    font-size: 11px;
}

.card .card-header .card-header-right {
    right: 10px;
    top: 10px;
    display: inline-block;
    float: right;
    padding: 0;
    position: absolute;
}


.navbar-collapse{
    z-index: 1028;
    position: relative;

    display: -webkit-box;
}

/*body {*/
    /*font-family: "Open Sans", sans-serif;*/
    /*font-size: 13.5px;*/
    /*color: #0c0c0c;*/
    /*font-weight: 400;*/
    /*background: #f4f7fa;*/
    /*position: relative;*/
/*}*/